body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
}

p {
    font-family: Arial, Helvetica, sans-serif;
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 100px;
    margin-top: 50px;
}

.container {
    padding: 0 200px 0 200px;
}

.navigation-links a {
    text-decoration: none;
    margin-left: 25px;
    color: black;
}

.navigation-links a:hover {
    color: #FF9900;
}

.navigation-links button {
    margin-left: 20px;
    
}

.button1{
    border: 1px solid #BCD0E5;
    border-radius: 4px;
    width: 110px;
    height: 46px;
    border:solid 1px #BCD0E5;
    background-color: white;
    font-size: 16px;
}

.button2 {
    background: #FF9900;
    border-radius: 4px;
    width: 110px;
    height: 46px;
    border:solid 1px  #FF9900;
    color: white;
    font-size: 16px;
}

.header02 {
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
}

.left-side h1 {
    font-size: 50px;
}

.left-side p {
    font-size: 18px;
    font-style: normal;
}

.button3 {
    background: #FF9900;
    border-radius: 4px;
    width: 175px;
    height: 53px;
    border: none;
    color: white;
    font-size: 16px;
}

.button4 {
    margin-left: 10px;
    border: none;
    color: #FF9900;
    font-size: 16px;
    background-color: white;
}

.buttons {
    margin-top: 100px    ;
    display: flex;
}

#features-id {
    font-size: 36px;
    text-align: center;
    align-items: center;
}

.cards {
    margin-top: 54px;
    display: flex;
    justify-content: space-between;
    
}

.card {
    margin-left: 20px;
}

.button5 {
    background: #FF9900;
    border-radius: 4px;
    width: 175px;
    height: 53px;
    align-items: center;
    color: white;
    border: solid 1px #FF9900;
    font-size: 16px;
}

.features-button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px 0 100px 0;
}

.effortless {
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
}

.product-managers {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.product-managers-image {
    margin-right: 50px;
}

.inline {
    display: flex;
    align-items: center;
}

.inline p {
    margin-left: 50px;
}

.svg-rectangle {
    width: 35px;
    height: 35px;
    position: absolute;
    margin-right: 5px;
}


.marketers {
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
}

hr {
    color: #BCD0E57F;
    margin-bottom: 50px;

}

footer {
    display: flex;
    justify-content: space-between;
}

ul {
    margin-top: 50px;
    list-style-type: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}
ul li {
    margin-bottom: 8px;
}
.footer-buttons {
    display: flex;
    flex-direction: column;
}

.button6{
    background-color: white;
    border: solid 1px #BCD0E5;
    width: 325px;
    height: 48px;
    margin-bottom: 10px;
}

.button7 {
    background: #FF9900;
    border-radius: 4px;
    width: 131px;
    height: 39px;
    align-items: center;
    color: white;
    border: solid 1px #FF9900;
    font-size: 16px;
}

